//
// This file contains all color definitions throughout the project.
//

// Greyscale - ordered from white to black
$color-white: #fff;
$color-dove-gray: #666;
$color-mine-shaft: #222;
$color-cod-gray: #111;
$color-black: #000;

// Colors - all other colors used in the project, can be grouped by general
// color (i.e. green, red, blue, yellow, ...).
$color-lemon: #f9eb19;
$color-citron: #97c11f;
$color-salem: #0d8f35;
$color-picton-blue: #2daae2;
$color-denim: #1071b8;
$color-port-gore: #28235d;
$color-thunderbird: #bf1522;
$color-tangerine: #f29200;
