.message {
    display: none;

    position: absolute;
    top: calc(100% - 77px);
    left: -220px;

    border: 3px solid $color-white;
    padding: 4px 20px;

    border-radius: 50px;

    span {
        color: $color-white;
        font: normal 16px/30px "Open Sans", sans-serif;
    }

    &.error {
        border-color: $color-tangerine;

        span {
            color: $color-tangerine;
        }
    }

    &.win {
        left: -310px;
        border-color: $color-citron;

        span {
            color: $color-citron;
        }
    }

    &.lose {
        left: -260px;
        border-color: $color-thunderbird;

        span {
            color: $color-thunderbird;
        }
    }
}
